{
  "env": {
    "development": {
      "presets": [
        ["env", {
          "targets": {
            "chrome": 60
          }
        }]
      ]
    },
    "rollup": {
      "presets": [
        "stage-2",
        "preact",
        ["env", {
          "targets": {
            "chrome": 60
          }
        }]
      ],
      "plugins": [
        "external-helpers"
      ]
    },
    "jsnext": {
      "presets": [
        "stage-2",
        "preact",
        ["env", {
          "targets": {
            "chrome": 60
          }
        }]
      ]
    }
  }
}
